doctype html
html(lang="en")
	head
		link(rel="stylesheet", href="/css/style.css")
	head
	body 
		header 
			h1 Hello World
		.mode.mode-chase 
		.mode.mode-solid
		.mode.mode-image
			canvas#canvas(width=640, height=480)
		main 
		footer 
